<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main class="main-detalle-carrito">
      <section class="detalle-carrito">
        <h3 id="titulo-detalle-carrito">Tests Solicitados</h3>
        <article class="detalle-test">
          <div class="item-test">Test 1</div>
          <div class="item-test">Opci贸n 1</div>
          <div class="item-test"></div>
          <div class="item-test">
            <div>-----</div>
            <div class="precio-test">$$$.$$</div>
          </div>
        </article>
        <article class="detalle-test">
          <div class="item-test">Test 2</div>
          <div class="item-test">Opci贸n 2</div>
          <div class="item-test"></div>
          <div class="item-test">
            <div>-----</div>
            <div class="precio-test">$$$.$$</div>
          </div>
        </article>
        <article class="detalle-test">
          <div class="item-test">Test 3</div>
          <div class="item-test">Opci贸n 3</div>
          <div class="item-test"></div>
          <div class="item-test">
            <div>-----</div>
            <div class="precio-test">$$$.$$</div>
          </div>
        </article>
        <article class="detalle-test">
          <div class="item-test">Test 4</div>
          <div class="item-test">Opci贸n 4</div>
          <div class="item-test"></div>
          <div class="item-test">
            <div>-----</div>
            <div class="precio-test">$$$.$$</div>
          </div>
        </article>
      </section>
      <section id="detalle-costo-total"></section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
