ul {
  list-style: none;
  padding: 0%;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f1f1f1b7;
}

.box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sedes {
  display: flex;
}

.sede {
  background-color: snow;
  flex-direction: row;
  margin: 15px;
  box-sizing: content-box;
  width: 20%;
}

.productos {
  display: flex;
}

.producto {
  margin: 10px;
}

/************** Detalle del Carrito *************/

.main-detalle-carrito {
  display: flex;
  background-color: whitesmoke;
  margin: 1%;
  width: 75%;
}

.detalle-carrito {
  width: 100%;
  justify-content: space-between;
}

#titulo-detalle-carrito {
  border-bottom: solid;
  border-color: grey;
  font-size: 1.5rem;
}

.detalle-test {
  border-bottom: solid;
  border-color: gray;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.item-test {
  flex-direction: column;
  margin: 20px;
}

.detalle-costo-total {
  background-color: burlywood;
}

/*CSS Correspondiente a Detalle de Productos*/

.producto-detalle-parte-superior,
.producto-detalle-parte-inferior {
  display: flex;
  margin: 1%;
  width: 100%;
}

.cuarto-cuadrante-parte-inferior {
  display: flex;
  margin: 10%;
}

.test-detalle-primer-cuadrante,
.test-detalle-segund-cuadrante,
.test-detalle-tercer-cuadrante,
.test-detalle-cuarto-cuadrante {
  width: 50%;
  margin: 2%;
}

.precio-boton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  

}

.precio-test {
  color: #004765;
  font-weight: bold;
  font-size: 1.25rem;
  border: 5px;
}

.boton-orden-test {
  border-radius: 10px;
  background-color: #004765;
  color: white;
  border: none;
  height: 30px;
  font-size: 16px;
}

.boton-orden-test:hover {

  color: #004765;
  background-color: white;
  font-size: 20px;

}