<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>

    <main>
      <section class="productos">
        <article class="producto">
          <a href=""><img src="img/test-imagen.jpeg" width="100%" /></a>
          <h3>Titulo Producto 1</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </article>
        <article class="producto">
          <a href=""><img src="img/test-imagen.jpeg" width="100%" /></a>
          <h3>Titulo Producto 2</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </article>
        <article class="producto">
          <a href=""><img src="img/test-imagen.jpeg" width="100%" /></a>
          <h3>Titulo Producto 3</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </article>
        <article class="producto">
          <a href=""><img src="img/test-imagen.jpeg" width="100%" /></a>
          <h3>Titulo Producto 4</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </article>
      </section>

      <!--Seccion Sedes-->
      <section class="sedes">
        <article class="sede">
          <h3>Sede 1</h3>
          <a href="#"><img src="img/sede-imagen.jpg" width="100%" /></a>
        </article>
        <article class="sede">
          <h3>Sede 2</h3>
          <a href="#"><img src="img/sede-imagen.jpg" width="100%" /></a>
        </article>
        <article class="sede">
          <h3>Sede 3</h3>
          <a href="#"><img src="img/sede-imagen.jpg" width="100%" /></a>
        </article>
        <article class="sede">
          <h3>Sede 4</h3>
          <a href="#"><img src="img/sede-imagen.jpg" width="100%" /></a>
        </article>
        <article class="sede">
          <h3>Sede 5</h3>
          <a href="#"><img src="img/sede-imagen.jpg" width="100%" /></a>
        </article>
      </section>

      <!--Sección Noticias-->
      <section>
        <h3>Noticias</h3>
        <a href=""
          ><img src="img/Nota.jpg" width="25%" alt="ultimas noticias"
        /></a>
      </section>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
