<footer>
  <section class="fSection">
    <div id="fFooter">
      <section class="titlesSection">
        <div class="titles40">
          <a href="/estudios" target="_blank"><h3>Nuestros Estudios</h3></a>
          <nav id="nuestrosEstudios">
            <ul>
              <% for (const estudio of estudios) { %>
              <li><a href="#" target="_blank"><%= estudio.title %></a></li>
              <% } %> 
              <!-- <li>
                <a href="#" target="_blank">Estudio 1</a>
              </li>
              <li>
                <a href="#" target="_blank">Estudio 2</a>
              </li>
              <li>
                <a href="#" target="_blank">Estudio 3</a>
              </li>
              <li>
                <a href="#" target="_blank">Estudio 4</a>
              </li>
              <li>
                <a href="#" target="_blank">Estudio 5</a>
              </li> -->
            </ul>
            <ul>
              <% for (const estudio of estudios) { %>
                <li><a href="# " target="_blank"><%= estudio.title %></a></li>
                <% } %> 
              <!-- <li>
                <a href="#" target="_blank">Estudio 6</a>
              </li>
              <li>
                <a href="#" target="_blank">Estudio 7</a>
              </li>
              <li>
                <a href="#" target="_blank">Estudio 8</a>
              </li>
              <li>
                <a href="#" target="_blank">Estudio 9</a>
              </li>
              <li>
                <a href="#" target="_blank">Estudio 10</a>
              </li> -->
            </ul>
          </nav>
        </div>
        <div class="titles20">
          <a href="/nosotros" target="_blank"><h3>Nosotros</h3></a>
          <nav class="footer2">
            <ul>
              <li>
                <a href="#" target="_blank">Enlace 1</a>
              </li>
              <li>
                <a href="#" target="_blank">Enlace 2</a>
              </li>
              <li>
                <a href="#" target="_blank">Enlace 3</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="titles20">
          <a href="/contacto" target="_blank"><h3>Contacto</h3></a>
          <nav>
            <ul class="footer2">
              <li>
                <a href="#" target="_blank">Contacto 1</a>
              </li>
              <li>
                <a href="#" target="_blank">Contacto 2</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="titles20">
          <a href="sedes" target="_blank"><h3>Nuestras Sedes</h3></a>
          <nav>
            <ul class="footer2">
              <li>
                <a href="#" target="_blank">Sede 1</a>
              </li>
              <li>
                <a href="#" target="_blank">Sede 2</a>
              </li>
              <li>
                <a href="#" target="_blank">Sede 3</a>
              </li>
              <li>
                <a href="#" target="_blank">Sede 4</a>
              </li>
              <li>
                <a href="#" target="_blank">Sede 5</a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
      <section id="regist">
        <h5>2021 DigitalLab derechos reservados</h5>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga
          corrupti unde minima! Consectetur minima veritatis possimus, repellat
          velit, similique minus quis placeat ipsum, alias expedita saepe
          assumenda perferendis quaerat veniam! Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Fuga corrupti unde minima! Consectetur
          minima veritatis possimus, repellat velit, similique minus quis
        </p>
      </section>
    </div>
  </section>
</footer>
