<header>
    <section class="bkHeader topHeader">
        <div class="header1">
            <a href=https://www.facebook.com/ target="_blank"> <i class="fab fa-facebook hIcon"></i> </a>
            <a href=https://twitter.com/ target="_blank"><i class="fab fa-twitter hIcon"></i> </a>
            <a href=https://www.youtube.com/ target="_blank"><i class="fab fa-youtube hIcon"></i></a>
            <a href=https://www.linkedin.com/feed/ target="_blank"> <i class="fab fa-linkedin-in hIcon"></i> </a>
        </div>

        <input class="search" type="text" placeholder="Buscar Estudios" />

        <div class="header3">
            <h5><a href="tel:+541145879652">4587-9652</a></h5>
            <a href="/users/ingresar"><i class="fas fa-user-circle hIcon"></i></a>
            <a href="/carrito"><i class="fas fa-shopping-cart hIcon"></i></a>
        </div>
    </section>

    <section class="headerMenu">
        <a href="/"><img class="logo1" src="/img/Digital Lab.svg" alt="DigitalLab" /></a>
        <img class="logo2" src="/img/isologo.svg" alt="DigitalLab" />

        <ul class="hideMenu">
            <li><a href="/">Home</a></li>
            <li><a href="/estudios">Estudios</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/sedes">Sedes</a></li>
            <li><a href="/contacto">Contacto</a></li>

        </ul>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </section>
</header>